[submodule "wheelbase_ws/src/semubot_bringup"]
	path = wheelbase_ws/src/semubot_bringup
	url = https://github.com/SemuBot/semubot_bringup.git
[submodule "wheelbase_ws/src/semubot_driver"]
	path = wheelbase_ws/src/semubot_driver
	url = https://github.com/SemuBot/semubot_driver.git
[submodule "wheelbase_ws/src/semubot_description"]
	path = wheelbase_ws/src/semubot_description
	url = https://github.com/SemuBot/semubot_description.git
[submodule "wheelbase_ws/src/semubot_ros_control"]
	path = wheelbase_ws/src/semubot_ros_control
	url = https://github.com/SemuBot/semubot_ros_control.git
[submodule "wheelbase_ws/src/micro-ROS-Agent"]
	path = wheelbase_ws/src/micro-ROS-Agent
	url = https://github.com/micro-ROS/micro-ROS-Agent.git
	branch = jazzy
[submodule "firmware-onboard-pid-microros"]
	path = firmware-onboard-pid-microros
	url = https://github.com/SemuBot/semubot-firmware.git
[submodule "firmware-onboard-pid-serial"]
	path = firmware-onboard-pid-serial
	url = https://github.com/SemuBot/semubot-firmware.git
[submodule "firmware-ros2ctrl-microros"]
	path = firmware-ros2ctrl-microros
	url = https://github.com/SemuBot/semubot-firmware.git
[submodule "firmware-ros2ctrl-serial"]
	path = firmware-ros2ctrl-serial
	url = https://github.com/SemuBot/semubot-firmware.git
[submodule "semubot-electronics"]
	path = semubot-electronics
	url = https://github.com/SemuBot/semubot-electronics.git
	branch = main
